{:duct.module/cljs
 {:doc
  "A module that adds support for compiling ClojureScript for use in the
  browser.

  Takes the following options:
  - `:asset-path`  - the web server path where the compiled JavaScript can
                     be accessed (defaults to `/cljs`)
  - `:main`        - the main ClojureScript namespace
  - `:output-file` - the file to output to (relative to `:output-dir`)
  - `:output-dir`  - the directory to put the compiled JavaScript in
                     (defaults to `target/cljs`)

  In the `:repl` profile the module will create a development server that
  will compile and push ClojureScript changes to the browser. In the `:main`
  and `:test` profiles, it will compile the ClojureScript once to production-
  ready JavaScript."}}
